* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-size: calc(24px + 16 * (100vw / 1280));
  font-weight: 600;
}

header {
  background-color: grey;
  height: 10vh;
}

footer {
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  gap: 1em;
  min-height: 15vh;
}

main {
  display: flex;
  height: 80vh;
}

.main {
  background-color: lightpink;
  width: 60%;
  flex-grow: 3;
  padding: 1em;
}

.aside {
  background-color: lightyellow;
  width: 40%;
  flex-grow: 2;
}

.more {
  background-color: aqua;
  padding: 1em;
  flex-grow: 1;
}

.more-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  margin-top: 15%;
  flex-grow: 1;
}

.more3 {
  width: 100%;
}

.footer_item {
  padding: 1em;
  flex-grow: 1;
  background-color: grey;
}
